AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_LEADS_TABLE=
AIRTABLE_RESOURCE_TABLE=
AIRTABLE_RESOURCE_LIBRARY_TABLE=
RESEND_API_KEY=
ADMIN_NOTIFICATION_EMAIL=
SYSTEME_API_KEY=
SYSTEME_NEWSLETTER_TAG_ID=
SITE_URL=http://localhost:3000
